@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide Scrollbar but keep functionality */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
    background-color: #0f172a; /* Slate 900 match */
    color: white;
}